<header class="site-header">
  <a class="site-header__brand" href="{{ '/' | relative_url }}">
    <img class="site-header__logo"
         src="{{ '/assets/img/favicon/favicon-32x32.png' | relative_url }}"
         alt="{{ site.title }} logo"
         width="16" height="16">
    <span class="site-header__title">{{ site.title }}</span>
  </a>
  <button id="hamburger-menu" class="hamburger" aria-label="Open Menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</header>
