body {
  font-family: -apple-system, system-ui, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 500px;
}

@media (min-width: 501px) {
  html {
    background-color: #efefef;
  }
}