<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PST2MTLMD8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PST2MTLMD8');
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T779N7MV');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  {% seo %}
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon/favicon.ico' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/img/favicon/site.webmanifest' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/grid.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/search.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  {% if page.layout == "post" %}
    {% assign date_in_seconds = page.date | date: "%s" | plus: 0 %}
    {% assign seconds_in_day = 86400 %}
    {% assign days_to_keep = 7 %}
    {% assign total_offset = days_to_keep | times: seconds_in_day %}
    {% assign remove_at = date_in_seconds | plus: total_offset %}
    <meta name="googlebot" content="unavailable_after: {{ remove_at | date: '%d-%b-%Y %H:%M:%S %Z' }}">
  {% endif %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T779N7MV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
</body>
</html>