---
layout: default
---
<article class="post-full">
  <header class="post-header">
    <a href="/" class="back-link">← Назад</a>
    <h1>{{ page.title }}</h1>
    <div class="author-info">Продавец: <a href="https://t.me/{{ page.author_handle | remove: '@' }}">{{ page.author_name }}</a></div>
  </header>

  <div class="post-gallery">
    {% for img in page.images %}
      <img src="{{ img | relative_url }}" alt="Photo" class="gallery-img">
    {% endfor %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>
  
  <div class="cta-container">
     <a href="https://t.me/{{ page.author_handle | remove: '@' }}" class="buy-button">Связаться в Telegram</a>
  </div>
</article>